@import "https://unpkg.com/open-props";

* {
    box-sizing: border-box;
  }

body {
    display: grid;
    place-items: center;
    min-height: 100vh;
    font-family: "Libre Baskerville", serif;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    color: white;
    height: 100%;
    width: 100%;
    background: var(--gradient-1);
}
  
#myPhoto {
    justify-content: center;
}

button {
    margin: 2vw;
    padding: 1vw;
    width: 10%;
    background-color: transparent;
    border: solid;
    min-width: fit-content;
    font: 2vw "Libre Baskerville", serif;
    color: white;

}

button:hover {
    background-color: rgb(255, 243, 245);
    color: palevioletred;
    transition: 0.5s;
}

.analysation {
    margin: 3vw;
}

h2 {
    font-size: 2vw;
}

.capturedImage {
    width: 640px;
    height: 480px;
}

#title {
    font-size: 6vw;
    margin-top: 200px;
    color: white;
}

#title2 {
    font-size: 6vw;
    color: white;
}

#clock {
    font-size: 6vw;
    margin-top: 50px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
}

p {
    font-size: 2vw;
}

.tablePage {
    display: none;
}

.container {
    display: grid;
    margin: 2vw;
    width: 50%;
    justify-content: center;
    justify-items: center;

}

#webcam {
    width: 100%;

}

#tableText {
    font-size: 6vw;
}

#randomBtn {
    padding: 2vw;
    font-size: 3vw;
}

#randomPage2 {
    display: none;
}